.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2A313D;
  color: #fff;
}

.weather-container {
  background-color: #233850;
  height: 70%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 40px #0BE4BC;
}

.weather-content {
  width: 100%;
  height: 70%;
  display: flex;  
  flex-direction: row; 
}

.container-app{
  width: 100%;
  height: 100%;
}

.icon {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-information {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.buttons {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  border: none;
  padding: .5rem;
  border-radius: 5px;
}

.buttons .buttonsContainer {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.celsius {
  display: flex;
}

.fahrenheit {
  display: none;
}

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}